.Entry {
  display: inline-block;
  margin: 0;
  width: 20%;
  border: 20px solid rgb(1, 29, 90);
  padding: 1px;
  background-color: rgb(249, 252, 251);
}

/* margin: auto;
width: 50%;
border: 3px solid green;
padding: 10px; */
