.App {
  text-align: center;
  padding-bottom: 60px;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color:royalblue;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-footer {
position:absolute;
left:0;
bottom:0;
right:0;
background-color: blue;
}

.App-title {
  font-size: 1.5em;
}

.CardList {
  float: none;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
